
body {
    font-size: 14px;
    text-align: left;
    line-height:70%;
}    

div {
   column-count: 3;
   column-gap: 80px;
   list-style:square;
   line-height:120%;
   font-size:16px;
   font-family:'Times New Roman', Times, serif;
}

ul {
    text-align: left;
}

.special-paragrapha {
    font-size: 14px;
    text-align: left;
    line-height:70%;
}

h4 {
    text-align: center;
    font-size:18px;
    line-height:70%;
}

h1 {
    text-align: center;
    font-size:14px;
    line-height:70%;
}



h2 {
text-align: left;
font-size:16px;
line-height:90%;
}

.special_paragraph{
    font-weight: 300;
    text-align:left;
    line-height:120%;
}

.special_text{
    font-weight: 200;
    font-size: 13px;
    
}
footer {
    text-align: center;
    font-size:14px;
}

img {
    transform:rotate(0deg);
    width:auto;
    height:auto;
    max-width:200px;
    max-height:200px;
    float:left;
}